<table class="table sortable table-striped">
    <thead class="thead-dark">
        <tr>
            <th>
                Name
            </th>
            <th>
                Sign Type
            </th>
            <th>
                Last Updated
            </th>
            <th class="text-center">
                Published
            </th>
            <th class="text-center no-cursor">
                <span class="sr-only">
                    VIEW
                </span>
                <span class="fas fa-info-circle"></span>
            </th>
            <th class="text-center no-cursor">
                <span class="sr-only">
                    LOAD SCREENSHOT
                </span>
                <span class="far fa-image"></span>
            </th>
            <th class="text-center no-cursor">
                <span class="sr-only">
                    EDIT
                </span>
                <span class="far fa-edit"></span>
            </th>
            <th class="text-center no-cursor">
                <span class="sr-only">
                    DELETE
                </span>
                <span class="fas fa-trash"></span>
            </th>
        </tr>
    </thead>
    <tbody>
        {{#each viewers}}
        <tr data-id="{{this._id}}">
            <td>
                {{#if this.display_name}}
                    {{this.display_name}}
                {{else}}
                    {{this.viewer_name}}
                {{/if}}
            </td>
            <td>
                {{this.viewer_type}}
            </td>
            <td>
                {{dateFormat this.last_updated "YYYY-MM-DD" }} {{dateFormat this.last_updated "hh:mm:ss a"}}
            </td>
            <td class="text-center">
                {{#if this.published}}
                    <span class="sr-only">A</span>
                    <span class="fas fa-check text-success"></span>
                {{else}}
                    <span class="sr-only">B</span>
                    <span class="fas fa-ban text-danger"></span>
                {{/if}}
            </td>
            <td class="text-center">
                <a href="{{this.url}}" class="btn btn-sm btn-info">
                    <span class="fas fa-info-circle"></span>
                </a>
            </td>
            <td class="text-center">
                <a href="{{this.live_screenshot_url}}" class="btn btn-sm btn-secondary">
                    <span class="far fa-image"></span>
                </a>
            </td>
            <td class="text-center">
                <a href="{{this.url}}/update" class="btn btn-sm btn-success">
                    <span class="far fa-edit"></span>
                </a>
            </td>
            <td class="text-center">
                <a href="{{this.url}}/delete" class="btn btn-sm btn-danger">
                    <span class="fas fa-trash"></span>
                </a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</ul>
