<header>
    <div class="collapse bg-dark d-none" id="navbarHeader">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-7 py-4">
                    <h4 class="text-white">About</h4>
                    <p class="text-muted">Add some information about the album below, the author, or any other background context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some social networking sites or contact information.</p>
                </div>
                <div class="col-sm-4 offset-md-1 py-4">
                    <h4 class="text-white">Contact</h4>
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-white">Follow on Twitter</a></li>
                        <li><a href="#" class="text-white">Like on Facebook</a></li>
                        <li><a href="#" class="text-white">Email me</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
            <a href="#" class="navbar-brand d-flex align-items-center">
            <strong>Etech Events</strong>
          </a>
            <button class="navbar-toggler d-none" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
    </div>
</header>

<main role="main">

    <section class="jumbotron text-center mb-0 d-none">
        <div class="container">
            <h1 class="jumbotron-heading">Album example</h1>
            <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
            <p>
                <a href="#" class="btn btn-primary my-2">Main call to action</a>
                <a href="#" class="btn btn-secondary my-2">Secondary action</a>
            </p>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">
            <ul class="list-unstyled row">
                {{#each viewers}}
                <li class="col-6 col-sm-4">
                    <div class="card mb-4 box-shadow">
                        <img id="screenshot_{{this._id}}" class="card-img-top" src="{{this.screenshot_url}}" alt="" title="" onError="this.onerror=null;this.src='http://placehold.it/1920x1080?text=IMAGE UNAVAILABLE';">
                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary" onclick="document.getElementById('screenshot_{{this._id}}').src='{{this.screenshot_url}}?timestamp='+Date.now();">
                                        <i class="fas fa-sync"></i>
                                    </button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#screenshotModal" onclick="document.getElementById('screenshotModalImage').src='{{this.screenshot_url}}?timestamp='+Date.now();document.getElementById('screenshotModalTitle').innerHTML='{{this.viewername}}'">
                                        <i class="fas fa-search-plus"></i>
                                    </button>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </li>
                {{/each}}
            </ul>
        </div>
    </div>

</main>

<footer class="text-muted py-5 d-none
">
    <div class="container">
        <p class="float-right">
            <a href="#">Back to top</a>
        </p>
        <p>Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
        <p>New to Bootstrap? <a href="../../">Visit the homepage</a> or read our <a href="../../getting-started/">getting started guide</a>.</p>
    </div>
</footer>

<!-- Modal -->
<div class="modal fade" id="screenshotModal" tabindex="-1" role="dialog" aria-labelledby="screenshotModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="screenshotModalTitle">

                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <img id="screenshotModalImage" src="http://placehold.it/1920x1080/ffffff/ffffff?text=" class="img-fluid" onError="this.onerror=null;this.src='http://placehold.it/1920x1080?text=IMAGE UNAVAILABLE';">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="screenshotImg=document.getElementById('screenshotModalImage').src;document.getElementById('screenshotModalImage').src=screenshotImg+'?timestamp='+Date.now()">
                    <i class="fas fa-sync"></i>
                </button>
            </div>
        </div>
    </div>
</div>
