<div class="container">
    <nav aria-label="breadcrumb" class="mt-4">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/viewers/">Viewers</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ viewer.display_name }}</li>
        </ol>
    </nav>
    {{!--/.breadcrumb--}}
    <h1 class="mt-4 mb-4">
        {{ viewer.display_name }}
    </h1>
    <div class="row">
        <div class="col-12 col-md-5 col-lg-4">
            {{> viewer_detail_card }}
            <br>
            <a href="{{viewer.url}}/update" class="btn btn-block btn-success">
                Update Viewer Details
            </a>
            <a href="{{viewer.url}}/delete" class="btn btn-block btn-danger">
                Delete Viewer
            </a>
        </div>
        {{!--/.col--}}
        <div class="col-12 col-md-7 col-lg-8">
            <img src="{{ viewer.live_screenshot_url }}" class="img-fluid" onerror="this.src='http://placehold.it/1920x1080/?text=IMAGE UNAVAILABLE';document.getElementById('{{viewer._id}}-isActive').innerHTML='Inactive'" onload="document.getElementById('{{viewer._id}}-isActive').innerHTML='Active'">
        </div>
        {{!--/.col--}}
    </div>
    {{!--/.row--}}
</div>
{{!--/.container--}}
